.App {
  margin: 2rem auto;
  height: 200px;
  width: 300px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  background: white;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.button-container{
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
 }
 .breadcrumb{
  
   left: 20px;
   border-radius: 1px;
   background-color: aliceblue;
   height: 30px;
   box-shadow: 0px 5px  rgba(0,0,0,.2);
   
 }
